.button {
  font-size: 10em;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(#fff, #fff9ea);
  transition: 0.5s all;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
