.view-container {
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  animation: view-appear linear 0.5s;
  background-image: var(--bg-image);
}

.view-title {
  font-size: 2.5em;
  font-family: "Fredoka One", cursive;
  color: var(--purple-dark);
  text-align: center;
  padding-top: 1em;
}

.view-content {
  height: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box {
  font-size: 1.5em;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5em;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.1);
}

.box:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: 0.5s all;
  transform: scale(1.02);
}

.box.small {
  padding: 1em 1.5em;
}

@keyframes view-appear {
  0% {
    top: 100%;
    opacity: 0;
  }
  80% {
    top: 0;
    opacity: 0.5;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
