.app {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.header {
  float: left;
  height: 35%;
  width: 100%;
}

.buttons {
  float: left;
  height: 65%;
  width: 100%;
}

.buttons-top,
.buttons-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.buttons-top .button {
  align-self: flex-end;
}

.button {
  height: 200px;
  width: 200px;
}

.box {
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2em;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
  .buttons {
    font-size: 0.8em;
  }
  .button {
    height: 150px;
    width: 150px;
  }
}
