.app {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.box {
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2em;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.1);
}

.logo-small {
  margin: 0;
  font-size: 2em;
  position: absolute;
  top: 1em;
  right: 1em;
  text-shadow: 2px 2px var(--purple-dark);
  z-index: 1000;
}

.logo-small:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .buttons {
    font-size: 0.8em;
  }
  .button {
    height: 150px;
    width: 150px;
  }
}
