:root {
  --purple-light: #eeceef;
  --purple: #b200b7;
  --purple-dark: #770578;
  --orange-light: #ffd387;
  --orange: #f38100;
  --orange-dark: #db682e;
  --bg-image: linear-gradient(var(--orange-light), var(--purple-light));
  --title-font: "Pacifico", cursive;
  --alt-title-font: "Fredoka One", cursive;
  font-size: 14px;
}

body {
  margin: 0;
  overflow: hidden;
}

#root {
  background-image: var(--bg-image);
  float: left;
  width: 100vw;
  height: 100vh;
}
