:root {
  --purple: #b200b7;
  --purple-dark: #770578;
  --orange: #f38100;
  --orange-dark: #db682e;
  font-size: 14px;
}

body {
  margin: 0;
  overflow: hidden;
}

#root {
  background-image: linear-gradient(#ffd387, #eeceef);
  float: left;
  width: 100vw;
  height: 100vh;
}
